#main #contact {
  background: black;
  height: 100vh;
  color: white;
}

#contact-links {
  display: flex;
  justify-content: center;
}

#contact-links a {
  font-size: 34px;
  margin-right: 10px;
  margin-left: 10px;
}
