#contact {
  background: black;
  height: 100vh;
  min-height: 500px;
  color: white;
  font-weight: 700;
  position: relative;
}

#contact-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact-info {
  margin-top: 30px;
}

#contact-links a {
  font-size: 38px;
  margin-right: 10px;
  margin-left: 10px;
  min-height: 56px;
}

#contact-links a:hover {
  color: rgba(255, 255, 0, 1.0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 48px;
}

#copyright {
  font-family: 'Muli', sans-serif;
}
