#main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 115vh;
  position: relative;
}

#main h1 {
  font-size: 128px;
  margin-top: 60px;
}

#main h2 {
  font-size: 48px;
}

#main p {
  width: 855px;
}

#portfolio {
  background: red;
}

#music {
  background: green;
}

.highlight {
  color: rgba(255, 255, 0, 1.0);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

/* .unhighlight {
  color: white;
  -webkit-transition: 1.5s;
  transition: 1.5s;
} */
