section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
}

@media screen and (max-height: 740px) {
  section {
    height: 815px;
  }
}

#main h1 {
  font-size: 128px;
  margin-top: 60px;
}

#main h2 {
  font-size: 48px;
}

#main p {
  width: 500px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#portfolio {
  background: red;
}

#music {
  background: green;
}
