#main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
}

#main h1 {
  font-size: 128px;
  margin: 0;
}

#main h2 {
  font-size: 48px;
}

#main p {
  width: 855px;
}



#portfolio {
  background: red;
}

#music {
  background: green;
}
