#projects {
  background: rgb(203, 231, 226);
    font-weight: 700;
}

#projects-list {
  display: grid;
  grid-template-columns: 330px 330px;
  grid-template-rows: 270px 270px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  /* display: flex; */
}

#projects-list img {
  height: 270px;
  width: 330px;
}
